{% extends 'main/layout.html' %}

{% block title %} Обо мне {% endblock %}

{% block content %}
    <div class="features">
        <h1>Обо мне</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quisquam ullam. Aliquid deleniti deserunt ex, exercitationem inventore ipsum laborum maxime mollitia natus placeat porro quas quisquam reiciendis, saepe veniam voluptatibus.</p>
        <a href="{% url 'home' %}"><button class="btn btn-danger">На главную</button></a>
    </div>
{% endblock %}

